<h1>User#account_activation</h1>

<p>
  Hi <%= @user.name%>,
</p>

<p>
  Welcome to the app, click below to activate.
</p>

<%= link_to "Activate", edit_account_activation_url(@user.activation_token, email: @user.email) %>
