<header class="container">
  <nav class="navbar fixed-top navbar-expand-sm navbar-light bg-light">
    <%= link_to "sample app", root_path, id: "logo", class:"navbar-brand" %>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active"><%= link_to "Home", root_path, class:"nav-link" %></li>
      <li class="nav-item active"><%= link_to "Help", help_path, class:"nav-link" %></li>
      <li class="nav-item active"><%= link_to "Log in", '#', class:"nav-link" %></li>
    </ul>
  </nav>
    
</header>
